@model IEnumerable<CRUD_19_04_29.Models.Register>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    @Html.ActionLink("GET", "Index", "GET")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("IDENT", "Index", new { sortOrder = ViewBag.INDENTSortParm })

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CODE }) |
                @Html.ActionLink("Details", "Details", new { id = item.CODE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CODE }) |
                @Html.ActionLink("Create", "Create", new { id = item.CODE })
            </td>
        </tr>
    }

</table>
